.expense-item {
    position: relative;
    display: flex;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 10px;
    justify-content: space-between;
    background-color: #4184f0;
}

.expense-item *
{
    margin: 0 1rem;
    font-size: 1.5rem;
}


.expense-item__indicator {
    margin: 0;
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    width: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}