.header
{
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
    background-color: white;
    padding: 1rem;
}

.nav
{
    display: flex;
    flex-basis: 20vw;
    justify-content: space-around;
    font-size: 1rem;
    cursor: pointer;
}

.nav *
{
    flex: 1;
    padding: 1rem;
}